    <div class="card">
        <div class="card-header">
            <h5>Shopping Cart</h5>
        </div>
        <div class="card-body">
            <ul class="list-group cart-list">
                <div *ngFor="let product of cart" class="card mb-2">
                    <app-shopping-card [product]="product" [removeFromCart]="removeFromCart"
                        [decreaseFromCart]="decreaseFromCart" [increaseFromCart]="increaseFromCart"></app-shopping-card>

                </div>
            </ul>
            <p class="final-price">
                Final Price: ${{ this.total.toFixed(2) }}
            </p>  

            <button *ngIf="cart.length !== 0" class="btn btn-primary" data-toggle="modal" data-target="#modalOrder">
                Place Order
            </button>

            <div class="modal" id="modalOrder" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">The order has been placed, thank you</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" (click)="handlePlaceOrder()">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>