<div class="App">
  <app-header [categories]="categories" (handleNewCategory)="handleNewCategory($event)">

  </app-header>
  <div class="container-fluid">

    <div class="col-lg-8 col-md-4 col-sm-12">
      <app-product-catalog [categories]="categories" [products]="products" (addToCart)="addToCart($event)">
      </app-product-catalog>
    </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
  <app-shopping-cart [cart]="cart" [total]="total" (removeFromCart)="removeFromCart($event)"
    (decreaseFromCart)="decreaseFromCart($event)" (increaseFromCart)="increaseFromCart($event)"
    (handlePlaceOrder)="handlePlaceOrder()">

  </app-shopping-cart>
</div>
</div>
<app-footer></app-footer>
</div>